### Maven configuration
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
 
### IntelliJ configuration
*.iml
.idea/
 
### Eclipse configuration
.metadata
.settings/
.project
.classpath
 
# External tool builders
.externalToolBuilders/
 
# PDT-specific
.buildpath
 
# sbteclipse plugin
.target
 
# TeXlipse plugin
.texlipse
 
# Vim swap files
*.swp
 
# airtime files
.airtime

**/MANIFEST.MF
src/main/webapp/META-INF/maven/**
src/main/webapp/WEB-INF/classes/**
src/main/webapp/WEB-INF/lib/**
src/main/webapp/WEB-INF/deploy/**