# eclipse project files and directories
.classpath
.project
.settings
.recommenders
.metadata/.project

# exclude IntelliJ IDEA files
.idea
**/*.iml
.run

# exclude gwt debug files
.springboot-gwt-devmode/

# others
*/.tern-project
